<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title id="pageTitle">Update Pilot</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h3>Update Pilot</h3>
<form th:action="@{/pilot/update}" th:object="${pilot}" method="POST">
    License Number: <br>
    <input type="text" name="licenseNumber" th:value ="${pilotnow.licenseNumber}" readonly = "readonly"/>
    <br>
    Name: <br>
    <input type="text" name="name" th:value ="${pilotnow.name}" />
    <br>
    Fly Hour: <br>
    <input type="number" name="flyHour" th:value ="${pilotnow.flyHour}" />
    <br><br>
    <button type="submit">Submit</button>
</form>


</body>
</html>